.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.every-column {
  text-align: center;
}
.modal-input {
  margin: 1px;
  border: 0.5px solid black;
}
.information {
  display: flex;
  justify-content: space-between;
}
